@import 'settings';
@import 'common/layout';
@import 'common/typography';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* { box-sizing: border-box; }

html {
  background-color: #3F4152;
}

body {
  margin: 0;
  font-family: "Avenir Next",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.app {
  font-weight: normal;
  font-smoothing: antialiased;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  background-color: #3F4152;
  color: #ffffff;
}

.appContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}



/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
