@import "../variables";

.alert {
  padding: 1em 1.25em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
}

.success {
  color: #105925;
  background-color: $colorNeonGreen;
}

.error {
  background-color: $colorError;
}