
form {
  input {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  input + .input-error {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }

  label {
    color: #868d9b;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: proxima-nova-alt-condensed,helvetica,arial,serif;
    margin-bottom: 6px;
    display: inline-block;
    cursor: pointer;
    transition: color .2s ease-in-out;
  }
}

h1.heading {
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-indent: -1px;
}

.input-error {
  display: block;
  color: #EC4142;
  font-size: 0.75em;
}