@import '../variables';
@import '../mixins';

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  &:nth-child(even) {
    background-color: $colorAppPrimary;
  }
}

.row:last-of-type {
  margin-bottom: 100px;
}

.row > div {
  position: relative;
  flex: 1;
  padding: 0 1em;
}

.row > .flex-none {
  flex: none;
}



.wrapper {
  margin: 1em;
  height: 100%;
  background-color: $colorAppSecondary;
}

.table {
  overflow-y: scroll;
  height: 100%;
}