@import '../common/typography';
@import '../common/input';

.game-row {
  position: relative;
  display: block;
  background-color: #717491;
  margin: 1em 0 0 0;
}

.game-row > div {
  position: relative;
  display: inline-block;
  width: 12%;
  padding: 0 1em;
}

.game-btn {
  height: 50px;
  background-color: green;
  color: white;
  font-size: 1.25em;
  outline: none;
  padding: 0.75rem 1rem;
  border: 2px solid #c3c8ce;
  border-radius: 4px;
}

.gameTable {
  margin: 1em;
}

.input {
  @apply --heading;
  @apply --input;
  text-align: center;
  outline: none;
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

