@import '../common/colors';
@import '../common/typography';

.navigation {
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 15px 25px;
  background-color: #192125;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: var(--colorOrange);
  justify-content: space-between;
  margin-left: 300px;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: #717491;
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorOrange);
}
